.footer {
  color: #000000;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  font-style: bold;
  background: rgb(248, 219, 244);
  padding: 15px;
  margin-top: 60px;
  text-align: center;
}
