/* Stylizuj stopkę */
.footer {
  color: #000000;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  font-style: bold;
  background: rgb(248, 221, 245);
  box-shadow: 0 0 2px rgb(240, 167, 232);
  padding: 15px;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 576px) {
  .footer {
    font-size: 12px;
  }
}

/* Stylizacja dla ekranów o szerokości poniżej 300px */
@media (max-width: 300px) {
  .footer {
    font-size: 10px;
  }
}
