.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px 500px 20px;
  margin: 0;
  top: 0;
  background-image: url("../images/yoga-example.png");
  background-size: cover; /* You can adjust this based on your needs */
  background-repeat: no-repeat;
  background-position: center center;
}

.header__flags {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust the gap between flags */
}

.header__flags img {
  width: 30px; /* Adjust the width of the flags */
  height: auto; /* Maintain the aspect ratio */
}

.header__logo {
  position: top inherit;
  color: #000000;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  filter: drop-shadow(6px 6px 6px rgb(240, 167, 232));
}

.header__logo:hover {
  filter: drop-shadow(6px 6px 6px rgba(241, 201, 237));
}
