.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 300px 20px 20px;
  margin: 0;
  position: sticky; /* header goes down and up while scrolling */
  top: 0;
  background-color: rgb(245, 228, 243);
  z-index: 1000;
}

.header__logo {
  position: inherit;
  color: #000000;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  filter: drop-shadow(6px 6px 6px rgb(240, 167, 232));
}

.header__logo:hover {
  filter: drop-shadow(6px 6px 6px rgba(241, 201, 237));
}
