.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px 20px 20px;
  margin: 0;
  position: sticky;
  top: 0;
  background-color: rgb(245, 228, 243);
  z-index: 1000;
}

.header__flags {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Dodaj styl dla przycisków flag aktywnych */
.header__flags .active-flag,
.header__flags .flag-button.active-flag {
  background: none; /* Usuń tło */
  border: none; /* Usuń obramowanie */
  padding: 0; /* Usuń wewnętrzny odstęp */
  cursor: pointer;
}

.header__flags .active-flag img,
.header__flags .flag-button.active-flag img {
  width: 30px;
  height: auto;
  filter: grayscale(0%);
  transition: filter 0.3s;
}

/* Dodaj styl dla przycisków flag szarych (nieaktywnych) */
.header__flags .flag-button:not(.active-flag) {
  background: none; /* Usuń tło */
  border: none; /* Usuń obramowanie */
  padding: 0; /* Usuń wewnętrzny odstęp */
  cursor: pointer;
}

.header__flags .flag-button:not(.active-flag) img {
  width: 30px;
  height: auto;
  filter: grayscale(80%);
  transition: filter 0.3s;
}

.header__logo {
  position: inherit;
  color: #000000;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  filter: drop-shadow(6px 6px 6px rgb(240, 167, 232));
}

.header__logo:hover {
  filter: drop-shadow(6px 6px 6px rgba(241, 201, 237));
}

@media (max-width: 576px) {
  .header {
    padding: 10px 20px; /* Dostosuj padding */
  }
  .header__logo,
  .header__flags {
    display: none;
  }
}

/* Stylizacja dla ekranów o szerokości poniżej 300px */
@media (max-width: 300px) {
  .header {
    padding: 10px; /* Dostosuj padding */
  }
}
