.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  margin: 0;
  position: sticky; /* header goes down and up while scrolling */
  left: 0;
  right: 0;
  top: 0;
  background-color: rgb(248, 221, 245);
  box-shadow: 0 0 10px rgb(240, 167, 232);
}

.header__logo {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 5px;
  box-shadow: none;
  text-decoration: none;
  filter: drop-shadow(6px 6px 6px rgb(240, 167, 232));
}

.header__logo:hover {
  filter: drop-shadow(6px 6px 6px rgba(241, 201, 237));
}
