.navigation__item {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 3px;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  -webkit-font-smoothing: antialiased;
  color: #000000;
  padding: 10px;
  /* filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.5)); */
}

.navigation__item:hover {
  filter: drop-shadow(6px 6px 6px rgb(252, 158, 241));
}

.navigation__item:active {
  color: hsl(0, 0%, 70%);
}

.navigation__item--font-bright {
  color: white;
}
