.navigation {
  display: flex;
  align-items: flex-start;
  margin-left: 700px;
  gap: 10px; /* Adjust the gap between navigation items */
}

.navigation__item2 {
  position: inherit;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  padding: 10px;
  margin: 0 10px;

  /* filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.5)); */
}

.navigation__item {
  position: inherit;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  -webkit-font-smoothing: antialiased;
  color: #000000;
  padding: 10px;
  margin: 0 10px;

  /* filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.5)); */
}

.navigation__item--active {
  font-weight: 600; /* Pogrubiony styl dla aktywnego przycisku */
}

.navigation__item:hover {
  filter: drop-shadow(6px 6px 6px rgb(252, 158, 241));
}

.navigation__item:active {
  color: hsl(0, 0%, 70%);
}

@media (max-width: 576px) {
  .navigation {
    display: none;
  }
}
