body {
  font-family: "Montseratt", sans-serif;
  background-color: #f8f0f4; /* Róż pastelowy */
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  -webkit-font-smoothing: antialiased;
}

.schedule {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

h1 {
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.day {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #131212; /* Różowy kolor pastelowy */
}

th {
  background-color: #fff;
  color: #ff6f80; /* Różowy kolor pastelowy */
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td {
  border-bottom: 1px solid #ddd;
  vertical-align: top;
  padding: 10px;
}

.day-number {
  font-size: 24px;
  font-weight: bold;
  color: #f798a3; /* Różowy kolor pastelowy */
  text-align: center;
}

.day-event {
  background-color: #f798a3; /* Różowy kolor pastelowy */
  color: #000000;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
}
