.section {
  color: #555555;
  padding: 65px 25px 0;
  max-width: 1000px;
  margin: 0 auto;
}

.section__header {
  color: #000000;
  letter-spacing: 1px;
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}

.section__paragraphQuote {
  color: #f5ab23;
  text-shadow: 2px 3px 8px #939393;
}

.section--font-bright {
  color: #eeeeee;
}
