html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Montseratt", sans-serif;
  background-color: rgb(245, 228, 243);
  line-height: 1.5;
  margin: 0;
}

.themeDark.themeDark {
  background-color: #1b1b1b;
  box-shadow: 0 0 10px #e5baeb;
}
