html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(245, 228, 243);
  line-height: 1.2;
  margin: 0;
}
