html {
  box-sizing: border-box;
}

*,
::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  max-width: 1000px;
  margin: auto;
  line-height: 1.3;
}

.dark {
  background-color: white;
  color: black;
}

.titleBlock {
  border: 1px groove rgb(54, 52, 52);
  border-radius: 8px;
  text-align: left;
  margin: 15px 0px;
  padding: 10px;
  color: white;
  background: #1f241f;
  border-radius: 25px;
  box-shadow: inset 1px 1px 16px 0 #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleBlock h1 {
  margin: 20px;
  display: flex;
  align-items: center;
}

.titleBlock h1:hover {
  text-shadow: inset 33px 3px 10px 0 #000000;
}

.titleBlock button {
  border: none;
  background: none;
  display: inline-block;
  cursor: pointer;
  margin-right: 40px;
  padding: 0;
  align-self: center;
}

.moon:hover {
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.5));
}

.moon:active {
  filter: drop-shadow(0px 0.2px 3px rgba(255, 255, 255, 0.5));
}

.navigation {
  border: 1px groove rgb(54, 52, 52);
  border-radius: 8px;
  text-align: center;
  margin: 15px 0px;
  color: white;
  font-size: 17px;
  background: #1f241f;
  border-radius: 125px 125px 525px 525px;
  height: 90px;
  box-shadow: inset 1px 1px 16px 0 #000000;
}

.navigation__list {
  display: inline-block;
  list-style: none;
  color: white;
  margin: 15px;
  cursor: pointer;
  text-decoration: none;
}

.navigation__link {
  color: white;
  text-decoration: none;
}

.navigation__link:hover {
  color: #d5cbcb;
  border-bottom: 2px solid;
  outline: none;
}

.navigation__link:active {
  color: #65a372;
}

.table {
  font-family: 'Lato', sans-serif;
  margin: 20px;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px 0px black;
}

.table__Cell {
  background: white;
  text-align: center;
  color: black;
  border: 3px solid black;
  padding: 20px;
  font-size: 17px;
}

.table__Cell--link {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.table__Cell--link:hover {
  border-bottom: 2px solid;
}

.table__Header {
  font-size: 17px;
  color: white;
  background: #094663;
}

tbody:nth-child(odd) {
  background: #CCC;
}

tbody:hover td[rowspan],
tr:hover td {
  background: #9cce8f;
  box-shadow: inset 1px 1px 6px 0 #000000;
}

.table__caption {
  caption-side: top;
  font-style: italic;
  text-align: left;
  font-size: 20px;
}

.line {
  border-radius: 50%;
  height: 3px;
  background-color: black;
}

.link {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  border-bottom: 2px solid;
}

.link:link {
  color: #094663;
}

.link:visited {
  color: #63095b;
}

ul {
  padding: 0;
}

footer {
  border: 1px groove rgb(54, 52, 52);
  border-radius: 8px;
  margin: 15px 0px;
  padding: 10px;
  color: white;
  background: #1f241f;
  border-radius: 125px 125px 525px 125px;
  box-shadow: inset 1px 1px 16px 0 #000000;
}

.table__Container {
  overflow-x: auto;
}